@media screen and (max-width:1440px) {
  body main #home .home-container .home-link ul .titulo .nome {

    width: 39%;

  }

  body main #home .home-container .home-link ul .li2 .social-icons {

    padding: 1% 20% 0 0;
  }

  body main #home .home-container .home-link ul .li2 .social-icons .social-icon {
    margin-inline: 2%;
  }



}



@media screen and (max-width: 1025px) {

  /* #region Home */
  body main #home {
    height: 100vh;

  }

  body main .bgImage {
    height: 80vh;
  }

  body main #home .home-container .home-link ul .titulo .nome {
    font-size: 3.5em;

    width: 45%;

  }

  body main #home .home-container .home-link ul .titulo {
    padding: 9% 0 0 2%;
  }

  body main #home .home-container .home-link ul .titulo .titulo-principal {
    font-size: 3.5em;
    padding: 15px;
  }

  body main #home .home-container .home-link ul .titulo img {
    width: 350px;
  }

  body main #home .home-container .home-link ul .li2 {
    padding: 0 2% 0 0;
    font-size: 1.2em;
  }

  body main #home .home-container .home-link ul .li3 {
    padding: 5%;
  }


  body main #home .home-container .home-link ul .li3 #btnHome {
    margin-top: 5%;
    width: 300px;
    padding: 5%;

  }


  /* #endregion */

  /* #region cliente  */

  body main #cliente {
    height: 45vh;
    width: 100%;


  }

  body main #cliente .titulo {
    width: 90%;

  }

  body main #cliente .titulo .foguete-gif {
    height: 100%;
    width: 12%;

  }


  body main #cliente .titulo h2 {
    width: 60%;
  }

  body main #cliente .cliente-container .swiper-slide img {

    width: 40%;
  }

  /* #endregion */

  /* #region sobre  */


  body main #sobre {
    height: 90vh;

  }


  body main #sobre .sobre-container .sobreImg img {
    width: 400px;

  }


  body main #sobre .sobre-container ul li h3 {
    font-size: 2em;
    padding: 5px;
  }

  body main #sobre .sobre-container ul li p {
    font-size: 1em;
    width: 80%;
  }


  /* #endregion */

  /* #region service */

  body main #service {
    height: 130vh;
    width: 100%;
    background-color: #1f1e1e;

  }


  body main #service .service-container {
    width: 100%;
    height: 90%;
    padding: 0;

  }


  body main #service .service-container .service-cards {
    width: 100%;
    height: 70%;
    padding-block: 2%;

  }




  body main #service .service-container .service-cards .card1 {
    width: 70%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin: 1%;
  }



  body main #service .service-container .service-cards .card2 {
    width: 70%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin: 1%;
  }

  body main #service .service-container .service-cards .card3 {
    width: 70%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin: 1%;
  }


  body main #service .service-container .service-cards .card1 ul {
    width: 90%;
    height: 100%;

    padding: 6%;

  }

  body main #service .service-container .service-cards .card1 ul li {

    padding: 0 8%;
  }

  body main #service .service-container .service-cards .card1 ul li img {
    width: 90px;

  }


  body main #service .service-container .service-cards .card2 ul {
    width: 90%;
    height: 100%;

    padding: 6%;

  }

  body main #service .service-container .service-cards .card2 ul li {

    padding: 0 8%;
  }

  body main #service .service-container .service-cards .card2 ul li img {
    width: 90px;

  }


  body main #service .service-container .service-cards .card3 ul {
    width: 90%;
    height: 90%;
    padding: 5%;

  }

  body main #service .service-container .service-cards ul li {

    padding: 0 8%;
    font-size: 0.9em;
  }

  body main #service .service-container .service-cards .card3 ul li img {
    width: 90px;

  }

  body main #service .service-container .video-service {
    width: 100%;
    height: 35%;

  }



  body main #service .service-container .service-inner .video-service video {
    width: 450px;

  }

  /* #endregion */

  /* #region depoimentos */

  body main #depoimento .depoimento-container .swiper {

    width: 90%;

  }




  /* #endregion */

  /* #region projetos */

  body main #especialidade-projeto .especialidade-container .especialidade-txt {
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;

  }

  body main #especialidade-projeto .especialidade-container .especialidade-txt h2 {
    font-size: 1.5em;

  }


  body main #especialidade-projeto .especialidade-container .especialidade-txt .especialidade-card img {
    width: 80px;
    height: auto;
    background-color: #0ea9c4;
    border-radius: 50%;
  }

  body main #especialidade-projeto .especialidade-container .especialidade-txt .especialidade-card h3 {
    font-size: 1em;
  }

  body main #especialidade-projeto .especialidade-container .especialidade-img #btnEspecialista {

    width: 300px;
    height: 80px;
    font-size: 0.9em;
  }


  body main #projeto {

    height: 140vh;
  }

  body main #projeto .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 140px;
    width: 100%;
    color: white;
    background-image: url("../img/fundoTituloServiceResponsivo.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
  }

  body main #projeto .titulo h2 {

    font-size: 2em;

  }

  body main #projeto .titulo hr {
    width: 100px;
    height: 4px;
    border-radius: 12px;

  }

  body main #projeto .projeto-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #222222;
  }


  body main #projeto .projeto-container .projeto-inner {
    height: 100%;
    width: 100%;

  }

  body main #projeto .projeto-container .projeto-inner .img-site {
    text-align: center;
    width: 270px;
    height: 400px;
    margin-block: 2%;
  }




  /* #endregion */

}


@media screen and (max-width: 769px) {

  /* #region Home */
  body main #home {
    height: 120vh;

  }

  body main #home .home-container .home-link ul .titulo .nome {

    width: 50%;
    font-size: 3em;
  }

  body main #home .bgImage {
    height: 130vh;
    background-color: #222222;
  }


  body main #home .home-container {
    width: 100%;
    height: 100%;

  }

  body main #home .home-container .home-link ul .titulo {
    padding: 9% 0 0 2%;
  }

  body main #home .home-container .home-link ul .titulo .titulo-principal {
    font-size: 3em;

  }

  body main #home .home-container .home-link ul .titulo img {
    width: 250px;
  }

  body main #home .home-container .home-link ul .li2 {
    padding: 0 2%;
    font-size: 1em;
  }

  body main #home .home-container .home-link ul .li3 {
    height: 20%;
  }


  body main #home .home-container .home-link ul .li3 #btnHome {
    margin: 2% 0 0 0;
    width: 300px;

  }

  body main #home .home-container .home-link ul .li2 .social-icons .social-icon {

    font-size: 2em;
  }




  /* #endregion */

  /* #region cliente  */

  body main #cliente {
    height: 40vh;
    width: 100%;
    background-image: url('../img/fundonavbarResponsivo.png');

  }

  body main #cliente .titulo {
    width: 90%;

  }

  body main #cliente .titulo h2 {
    width: 82%;

  }

  body main #cliente .titulo .foguete-gif {
    height: 95%;
    width: 10%;
    background-image: url("../img/foguete.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

  }




  /* #endregion */

  /* #region sobre  */


  body main #sobre {
    height: 112vh;

  }

  body main #sobre .sobre-container {
    flex-direction: column;
    justify-content: space-evenly;
  
  }


  body main #sobre .titulo {
    width: 90%;

    margin: 0 auto;
  }


  body main #sobre .titulo h2 {

    font-size: 0.5em;
  }


  body main #sobre .sobre-container .sobreImg {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50%;
 
  }


  body main #sobre .sobre-container .sobreImg img {
    width: 370px;
    margin-top: -10%;

  }

  body main #sobre .sobre-container ul {
    width: 98%;

    height: 50%;
    margin-bottom: -20%;
    z-index: 999;
  }



  body main #sobre .sobre-container ul li h3 {
    font-size: 2em;
    padding: 5px;
  }

  body main #sobre .sobre-container ul li p {
    font-size: 1em;
    padding: 2%;
    width: 90%;
  }


  /* #endregion */

  /* #region service */
  body main #service .inner-header {
    height: 20%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  body main #service .inner-header .waves-container {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    z-index: 1;

  }

  body main #service .inner-header .waves-container .waves {
    position: relative;
    width: 100%;
    height: 100%;
  }





  body main #service {
    height: 215vh;
    width: 100%;
    background-color: #222222;
  }


  body main #service .service-container .service-inner {
    background-color: #222222;
    flex-direction: column;
  }

  body main #service .titulo {
    background-repeat: no-repeat;

    height: 100px;
    width: 100%;
    color: white;
    background-color: white;
    background-image: url("../img/fundoTituloServiceResponsivo.png");




  }




  body main #service .service-container .service-inner .video-service {

    height: 30%;

  }

  body main #service .service-container .service-inner .video-service video {
    width: 500px;

  }







  body main #service .service-container .service-inner .service-cards {
    width: 80%;
    height: 80%;

  }

  body main #service .service-container .service-cards .card2 {
    width: 100%;
    height: 33%;

  }




  body main #service .service-container .service-cards .card1 ul li {
    padding-inline: 2%;
  }

  body main #service .service-container .service-cards .card2 ul li {
    padding-inline: 2%;
  }

  body main #service .service-container .service-cards .card3 ul li {
    padding-inline: 2%;
  }



  body main #service .service-container .video-service video {

    width: 350px;

  }



  /* #endregion */

  /* #region footer  */

  body footer {

    height: 60vh;



  }




  body footer .footer {
    width: 100%;
    height: 80%;
    flex-direction: column;


  }

  /* #endregion */

  /* #region contato */
  body main #contact {
    height: 140vh;
    width: 100%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body main #contact .bgImage {
    margin: 0;
    height: 140vh;

  }


  body main #contact .blobCont {
    position: absolute;
    height: 100%;
  }



  body main #contact .contact-container {
    height: 80%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }



  body main #contact .contact-container .contact-inner {
    width: 70%;
    height: 95%;
    background-color: rgba(46, 46, 46, 0.3960784314);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  body main #contact .contact-container .contact-inner .locmapa {
    width: 100%;
    height: 50%;
    border-radius: 12px 12px 0 0;
    border: none;
  }


  body main #contact .contact-container .contact-inner form {
    width: 100%;
    height: 80%;

  }

  body main #contact .contact-container .contact-inner .locmapa .swiper-slide {

    border-radius: 12px 12px 0 0;
  }



  body main #contact .contact-container .contact-inner .locmapa .swiper-slide iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
  }




  /* #endregion */

  /* #region privacy  */

  body main #privacy {
    height: 280vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body main #privacy .bgImage {
    margin: 0;
    height: 280vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #222222;
    background-size: cover;
    background-position: top;
    z-index: -1;
  }

  body main #privacy .blobCont {
    position: absolute;
    width: 100vw;
    height: 280vh;
  }

  body main #privacy .privacy-container .privacy-inner p {
    padding-inline: 10%;
    text-align: center;
  }


  /* #endregion
 */

  /* #region projetos */

  body main #especialidade-projeto {
    height: 140vh;
    width: 100%;

  }

  body main #especialidade-projeto .especialidade-container {

    flex-direction: column;
  }

  body main #especialidade-projeto .especialidade-container .especialidade-txt {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
  }

  body main #especialidade-projeto .especialidade-container .especialidade-img {
    width: 90%;
    height: 40%;

  }

  body main #especialidade-projeto .especialidade-container .especialidade-img .especialidade-img-inner {
    padding-block: 2%;
    width: 50%;
    height: 80%;
  }

  body main #especialidade-projeto .especialidade-container .especialidade-img #btnEspecialista {
    text-align: center;
    width: 300px;
    height: 70px;
    margin-block: 4%;
  }


  body main #projeto {
    height: 180vh;
  }

  body main #projeto .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 140px;
    width: 100%;
    color: white;
    background-image: url("../img/fundoTituloServiceResponsivo.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
  }

  body main #projeto .titulo h2 {

    font-size: 2em;

  }

  body main #projeto .titulo hr {
    width: 100px;
    height: 4px;
    border-radius: 12px;

  }

  body main #projeto .projeto-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #222222;
  }


  body main #projeto .projeto-container .projeto-inner {
    height: 100%;
    width: 100%;

  }

  body main #projeto .projeto-container .projeto-inner .img-site {
    text-align: center;
    width: 240px;
    height: 350px;
    margin-block: 2%;
  }




  /* #endregion */


  /* #region depoimento */

  body main #depoimento {
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  body main #depoimento .titulo {
    background-position: center;
    height: 51%;
    background-image: url("../img/fundonavbarResponsivo.png");
  }




  body main #depoimento .titulo h2 {
    margin-block: 6px;
    font-size: 2em;
  }






  /* #endregion */



}



@media screen and (max-width: 485px) {


  /* #region header */

  body header nav ul li img {
    width: 60px;
    padding: 2%;
  }


  /* #endregion */

  /* #region Home */
  body main #home {
    height: 120vh;
    width: 100%;

  }

  body main #home .bgImage {
    height: 120vh;
  }

  body main #home .home-container {
    width: 100%;
    height: 100%;

  }




  body main #home .home-container .home-link ul .titulo .nome {

    width: 100%;
    font-size: 2.4em;

  }



  body main #home .home-container .home-link ul .titulo {

    height: 20%;
    flex-direction: column;

  }

  body main #home .home-container .home-link ul .titulo {

    padding: 0;

  }

  body main #home .home-container .home-link ul .titulo img {
    width: 300px;
    display: flex;
  }


  body main #home .home-container .home-link ul .titulo .titulo-principal {
    font-size: 1.8em;
    width: 90%;
    padding-block: 5%;
  }


  body main #home .home-container .home-link ul .li2 .social-icons .social-icon {

    width: 100px;
    height: 60px;
    padding-block: 5%;
    font-size: 1.8em;
  }




  body main #home .home-container .home-link ul .li2 {
    padding: 4%;
    height: 10%;
    font-size: 1em;
    text-align: center;
  }

  body main #home .home-container .home-link ul .li3 {
    height: 20%;
  }


  body main #home .home-container .home-link ul .li3 #btnHome {
    margin: 2% 0 0 0;
    width: 280px;

  }

  /* #endregion */

  /* #region cliente  */

  body main #cliente {
    height: 45vh;
    width: 100%;



  }

  body main #cliente .cliente-container .swiper-slide img {
    display: block;
    width: 30%;
  }


  body main #cliente .titulo {
    width: 90%;
    height: 30%;

  }

  body main #cliente .titulo h2 {
    text-align: center;
    font-size: 1em;
  }

  body main #cliente .titulo .foguete-gif {
    height: 95%;
    width: 18%;
    padding: 3%;
  }



  /* #endregion */

  /* #region sobre  */


  body main #sobre {
    height: 150vh;

  }

  body main #sobre .sobre-container {
    height: 100%;
    flex-direction: column;
  }

  body main #sobre .sobre-container .sobreImg {
    width: 100%;

    height: 22%;
  }

  body main #sobre .sobre-container .sobreImg img {
    width: 220px;

  }

  body main #sobre .titulo {

    padding: 2%;

  }

  body main #sobre .sobre-container ul {

  margin-top: -30%;
  }


  body main #sobre .sobre-container ul li  {

   margin-top: -2%;
  }


  body main #sobre .sobre-container ul li h3 {

    padding: 5px;
  }

  body main #sobre .sobre-container ul li p {
    font-size: small;
   
    font-size: 1em;
  }





  body main #sobre .sobre-container ul {
    width: 93%;
    height: 100%;
  }







  /* #endregion */

  /* #region service */
  body main #service {
    height: 140vh;
    width: 100%;
    background-color: #222222;
  }


  body main #service .inner-header {
    height: 1%;

  }

  body main #service .inner-header .waves-container {
    height: 40px;

  }



  body main #service .inner-header .waves-container .waves {
    position: relative;
    width: 100%;
    height: 100%;
  }

  body main #service .titulo-service h2 {
    font-size: 2.4em;
  }

  body main #service .titulo-projeto h2 {

    font-size: 1.5em;
  }


  body main #service .service-container {
    width: 100%;
    height: 100%;


  }

  body main #service .service-container .service-inner .service-cards {
    width: 95%;
    height: 100%;

  }

  body main #service .service-container .service-cards .card2 {
    width: 100%;
    height: 33%;

  }

  body main #service .service-container .service-cards {
    width: 100%;
    height: 80%;

  }

  body main #service .service-container .service-cards .card1 ul {
    padding-inline: 2%;
    justify-content: space-around;
    flex-direction: column;
  }

  body main #service .service-container .service-cards .card1 ul li {
    padding-block: 3%;

  }



  body main #service .service-container .service-cards .card1 ul li h3 {
    margin-block-start: 2%;

  }

  body main #service .service-container .service-cards .card2 ul {
    padding-inline: 2%;
    justify-content: space-around;
    flex-direction: column;

  }

  body main #service .service-container .service-cards .card2 ul li {
    padding-block: 3%;

  }



  body main #service .service-container .service-cards .card2 ul li h3 {
    margin-block-start: 2%;

  }

  body main #service .service-container .service-cards .card3 ul {
    padding-inline: 2%;
    justify-content: space-around;
    flex-direction: column;
  }

  body main #service .service-container .service-cards .card3 ul li {
    padding-block: 3%;

  }



  body main #service .service-container .service-cards .card3 ul li h3 {
    margin-block-start: 2%;

  }

  body main #service .service-container .service-inner .imgfloat {
    display: none;
  }

  body main #service .service-container .service-inner img {
    display: none;
  }


  /* #endregion */

  /* #region contato  */

  body main #contact {
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    background: linear-gradient(90deg, rgba(34, 34, 34, 0.7411764706) 30%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat padding-box padding-box transparent;
  }

  body main #contact .blobCont {

    width: 100vw;
    height: 250vh;
  }



  body main #contact .contact-container .contact-inner {
    width: 80%;
    height: 90%;
    background-color: rgba(46, 46, 46, 0.3960784314);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  body main #contact .contact-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  body main #contact .contact-container .contact-inner form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
  }

  body main #contact .contact-container .contact-inner iframe {
    width: 100%;
    height: 50%;
    border-radius: 12px 12px 0 0;
    border: none;
  }


  /* #endregion */

  /* #region depoimento */

  body main #depoimento {
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  body main #depoimento .titulo {
    background-position: center;
    height: 40%;
    background-image: url("../img/fundonavbarResponsivo.png");
    margin-top: -36%;
  }




  body main #depoimento .titulo h2 {
    margin-block: 6px;
    font-size: 2em;
  }


  body main #depoimento .depoimento-container {
    width: 100%;
    height: 70%;

  }

  body main #depoimento .depoimento-container .swiper {

    margin: 4% auto;
    padding: 0;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }




  body main #depoimento .depoimento-container .titulo ul {
    width: 80%;

  }

  body main #depoimento .depoimento-container .swiper-slide {
    margin-top: 15% !important;
    width: 100%;
    height: 80%;

  }



  /* #endregion */

  /* #region footer  */

  body footer .site-dev {

    height: 115px;


  }



  body footer .footer #chat-container {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 15px;
    width: 280px;


  }


  /* #endregion */

  /* #region projetos */


  body main #especialidade-projeto {
    height: 160vh;
    width: 100%;

  }

  body main #especialidade-projeto .especialidade-container .especialidade-txt {
    width: 90%;
    height: 50%;

  }

  body main #especialidade-projeto .especialidade-container .especialidade-txt h2 {
    padding-block: 4%;
  }



  body main #especialidade-projeto .especialidade-container .especialidade-txt .especialidade-card h3 {

    font-size: 1em;
  }


  body main #especialidade-projeto .especialidade-container .especialidade-img {
    width: 90%;
    height: 40%;

  }

  body main #especialidade-projeto .especialidade-container .especialidade-img .especialidade-img-inner {
    padding-block: 2%;
    width: 90%;
    height: 60%;
  }

  body main #especialidade-projeto .especialidade-container .especialidade-img #btnEspecialista {
    text-align: center;
    width: 300px;
    height: 70px;
    margin-block: 4%;
  }


  body main #projeto {

    height: 190vh;
  }


  body main #projeto .inner-header {
    height: 10%;

  }

  body main #projeto .inner-header .waves-container {
    height: 40px;

  }



  body main #projeto .inner-header .waves-container .waves {
    position: relative;
    width: 100%;
    height: 100%;
  }

  body main #projeto .titulo-projeto h2 {

    font-size: 1.5em;
  }


  body main #projeto .projeto-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #222222;
  }


  body main #projeto .projeto-container .projeto-inner {
    height: 100%;
    width: 100%;

  }

  body main #projeto .projeto-container .projeto-inner .img-site {
    text-align: center;
    width: 270px;
    height: 300px;
    margin-block: 2%;
  }




  /* #endregion */

  /* #region contato */
  body main #contact {
    height: 140vh;
    width: 100%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body main #contact .bgImage {
    margin: 0;
    height: 140vh;

  }


  body main #contact .blobCont {
    position: absolute;
    height: 100%;
  }



  body main #contact .contact-container {
    height: 80%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }



  body main #contact .contact-container .contact-inner {
    width: 90%;
    height: 95%;
    background-color: rgba(46, 46, 46, 0.3960784314);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  body main #contact .contact-container .contact-inner .locmapa {
    width: 100%;
    height: 50%;
    border-radius: 12px 12px 0 0;
    border: none;
  }


  body main #contact .contact-container .contact-inner form {
    width: 100%;
    height: 80%;

  }

  body main #contact .contact-container .contact-inner .locmapa .swiper-slide {

    border-radius: 12px 12px 0 0;
  }



  body main #contact .contact-container .contact-inner .locmapa .swiper-slide iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
  }




  /* #endregion */

  /* #region privacy  */

  body main #privacy {
    height: 300vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body main #privacy .bgImage {
    margin: 0;
    height: 300vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #222222;
    background-size: cover;
    background-position: top;
    z-index: -1;
  }

  body main #privacy .blobCont {
    position: absolute;
    width: 100vw;
    height: 300vh;
  }

  body main #privacy .privacy-container .privacy-inner {
    width: 90%;
    height: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #2b2b2b63;
    border-radius: 12px;
    padding: 1%;
    text-align: center;
    transition: 0.5s;
  }

  body main #privacy .privacy-container .privacy-inner h1,
  body main #privacy .privacy-container .privacy-inner h2,
  body main #privacy .privacy-container .privacy-inner h3 {
    color: #00d5ff;
    text-align: center;
    padding-block: 1%;
    font-size: 1.5em;
  }

  body main #privacy .privacy-container .privacy-inner p {
    padding-inline: 0;
    text-align: center;
  }




  /* #endregion
 */

}